.title {
  margin: 0 auto 50px;
  max-width: 900px;
  line-height: 1.15;
  font-size: 2rem;
  text-align: center;
  color: #3D2C22;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.button__prev {
  border-right: 1px solid #888;
}
